<!DOCTYPE html>
<html>
<head>
    <title><%= subtitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355 Lab 8</a>"
    <br/>
    <a href="http://localhost:3000/helloworld.html">Absolute link example</a>
    <br/>
    <a href="helloworld.html">Relative Link Example</a>
    <br/>
    <a href="/templatelink">Template Link Example</a>
    <br/>
    <a href="/accounts/?user_id=1">User By ID</a>
    <br/>
    <a href="/users/all/">All Accounts</a>
    <br />
    <a href="/school/all/">School info</a>
    <br />
    <a href="/company/info/">Company info</a>
    <br/>
    <a href="/company/comp_gpa/">Company's gpa</a>
    <br />
    <a href="/users/create/">Login</a>
    <br />

    <br />
    <a href="/company/cform/">Company form</a>

</head>
<body>
<h1>Database Management Systems</h1>
<p><%= subtitle %></p>