<% include partials/header %>

<form action="/company/save/">
    <label for="companyname">Company Name</label> <input type="text" id="cname" name="cname" /><br />

    <input type="submit" />
</form>

<% include partials/footer %>